

<p id="notice"><%= notice %></p>

  
  <%= image_tag @post.image.url(:medium) %>
  <h1>Positive FeedBack</h1>
  <br/>
  <br/>
  <br/>
  <% @newimage.each do |p|%>

<p><%= image_tag p.image.url(:medium)  %></p>
<%end%>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
