<p id="notice"><%= notice %></p>

  
  <%= image_tag @post.image.url(:medium) %>
  <br/>
  <br/>
  <br/>
  <h1>Similar Images</h1>
<%= form_tag search_post_path, :method => :post  do    %>	
<% @similarpost.each do |p|%>

<p><%= image_tag p.image.url(:medium)  %></p>
<%= check_box_tag "post[positive_images][]",p.id,false,:id =>p.id %>
<%= label_tag("Like") %>

<% end%>
<br></br>
<%= submit_tag "Recall"%>
<%end%>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
